article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure,div{margin:0;padding:0; -webkit-touch-callout:none;-moz-touch-callout:none;-ms-touch-callout:none;touch-callout:none; -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    // -webkit-user-select:none; /*webkit浏览器*/
    // -khtml-user-select:none; /*早期浏览器*/
    // -moz-user-select:none;/*火狐*/
    // -ms-user-select:none; /*IE10*/
    // user-select:none;
}
body{font-family:Microsoft YaHei,SimHei, tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;color:#555;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:400;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
abbr,acronym{border:0 none;font-variant:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;}
code,kbd,samp,tt,input,button,textarea,select{font-size:100%;}
ul,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
sup,sub{font-size:100%;vertical-align:baseline;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #89959f;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #89959f; opacity: 1;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #89959f; opacity: 1;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #89959f !important;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button{overflow:visible;}
*{   
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/  
    /*-webkit-user-select:none;
    -khtml-user-select:none;   
    -moz-user-select:none;   
    -ms-user-select:none;   
    user-select:none;*/
    -webkit-user-select:text; /*webkit浏览器*/   
    -khtml-user-select:text; /*早期浏览器*/   
    -moz-user-select:text;/*火狐*/   
    -ms-user-select:text; /*IE10*/   
    user-select:text;   
} 
a,input,button,select,textarea{outline: none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-appearance:none;-webkit-user-select:auto;}
em,i{font-style:normal;}
/*b{font-weight: normal;}*/
fieldset,img{border:0 none;}
img{vertical-align: middle;}
a{color:#444; background:transparent; -webkit-tap-highlight-color:rgba(255,255,255,0);}
a:active,a:hover{outline:0 none;}
a,a:hover{text-decoration:none;}
.a_unline{border:none !important;text-decoration: none;}
a.borderRad58 img,a.marAuto img{width:100%;}
:focus{outline:0 none;}
/*a:hover{color:#0087cf;}*/
.clearfix{zoom:1;clear:both;}
.clearfix:before, .clearfix:after,.content:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.ms-controller{visibility: hidden;}
/*[ms-controller]{display:none;}*/
.noUnline{border:none !important;text-decoration: none !important;}

.clearFloat{overflow:hidden;}
.fl{float: left;}
.fr{float:right;}
input,button,select{ background:no-repeat 0 0 scroll; border:none; outline:medium; }
.hidden{display:none !important;}
.show{display:block !important;}
.posHide{visibility: hidden;}
.inline{display:inline;}
.cursor{cursor:pointer;}
.shenglue{ width:96%; word-break: keep-all;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; }
.noBorder{border:none !important;}
/*背景色*/
body,.bgColor{background:#f4f7f9;}
.bgf{background: #fff;}
.bgFb{background: #fbfbeb;}
.bgC3{background: #c3c3c3;}


/*配色*/
.subColor{color:#2579f7 !important;}
.color32{color:#323232;}
.color5{color:#555;}
.color4{color:#444444;}
.color4E{color:#4E4E4E;}
.color9D{color:#9d9d9d;}
.color89{color:#898989;}
.colorED{color:#ED7500;}
.colorFF{color:#fff;}
.colorErr{color:#CA5D5D;}
.colorErrP{color:#F0734E;}
.colorOk{color:#2579f7;}
.colorR{color:#f2304b;}
/*2016-12-27*/
.colorb5{color:#b5b5b5;}
.color5,.color32,.color4E,.color4,a{color:#495767;}
.color89,.color9D{color:#89959f;}
.color1{color:#383838;}
.colora3{color:#a3afc5;}
.color64{color: #6484C9;}
.color9d{color: #9da3b3;}
.color6{color:#666;}
.color6d{color:#6d6d6d;}
.colorf0{color:#ff0000;}
.color93{color:#939fb5;}
.color7d{color:#7D7D7D;}

/*字体大小*/
.fs1{font-size: 0.8rem;}
.fs2{font-size: 0.9rem;}
.fs3{font-size: 1rem;}
.fs4{font-size: 1.1rem;}
.fs5{font-size: 1.2rem;}
.fs6{font-size: 1.3rem;}
.fs7{font-size: 1.4rem;}
.fs8{font-size: 1.8rem;}
.fs9{font-size: 1.5rem;}
.fs10{font-size: 1.6rem;}
.fs11{font-size: 2rem;}
.fs13{font-size: 2.2rem;}
.fs12{font-size: 2.5rem;}
.fs14{font-size: 3.2rem;}

/*居中*/
.txtLeft{text-align: left;}
.txtCenter{text-align: center;}
.txtRight{text-align: right;}
/*缩进*/

/*定位相关*/
.fixed{position: fixed;}
.poRel{position: relative;}
.poAbs{position: absolute;z-index: 1;}
.posTop{top: 18px;}
.posTop0{top: 8px;}
.posTop1{top: 2px;}

/*padding的值*/
.padBoth{padding: 0 1rem;}
.padBoth4{padding: 0 4px;}
.padL10{padding-left: 10px;}
.padL16{padding-left: 16px;}
.padR2{padding-right: 2px;}
.padR10{padding-right: 10px;}
.padR15{padding-right: 15px;}
.padT5{padding-top: 5px;}
.padT8{padding-top: 8px;}
.padT10{padding-top: 10px;}
.padT15{padding-top: 15px;}
.padT20{padding-top: 20px;}
.padB5{padding-bottom: 5px;}
.padB10{padding-bottom: 10px;}
.padB15{padding-bottom: 15px;}
.padB20{padding-bottom: 20px;}
.padB30{padding-bottom: 30px;}
.padB40{padding-bottom: 40px;}
.padL44{padding-left: 2.2rem;}
.padL32{padding-left: 1.6rem;}

/*margin值*/
.marT3{margin-top:0.3rem;}
.marT5{margin-top:5px;}
.marT8{margin-top:8px;}
.marT10{margin-top:10px;}
.marT15{margin-top:15px;}
.marT20{margin-top:20px !important;}
.marT25{margin-top:25px !important;}
.marT30{margin-top:30px;}
.marT35{margin-top:35px;}
.marT45{margin-top:45px;}
.marT60{margin-top:60px;}
.marT138{margin-top: 138px;}
.marB3{margin-bottom: 3px;}
.marB5{margin-bottom: 5px;}
.marB10{margin-bottom: 10px;}
.marB15{margin-bottom: 15px;}
.marB20{margin-bottom: 20px;}
.marB30{margin-bottom: 30px;}
.marB35{margin-bottom: 35px;}
.marB48{margin-bottom: 48px;}
.marB60{margin-bottom: 60px;}
.marR5{margin-right: 5px;}
.marR10{margin-right: 10px;}
.marR15{margin-right: 15px;}
.marR20{margin-right: 20px;}
.marR30{margin-right: 30px;}
.marR40{margin-right: 40px;}
.marL5{margin-left: 5px;}
.marL8{margin-left: 8px;}
.marL10{margin-left: 10px;}
/*边框*/
.borderNone{border:none !important;}
.borderBottom{border-bottom:1px solid #eef2f6;}
.borderBottom2{border-bottom:1px solid #e5e5e5;}
.borderBottom3{border-bottom:1px solid #ededed;}
.borderBottom4{border-bottom:1px solid #eee;}
.borderTop4{border-top:1px solid #eee;}
.noScrollY::-webkit-scrollbar{display:none; width:0; height: 0;}

.numFont{font-family: 'GOTHIC_0' !important;}
/*字体*/
@font-face {
    /*font-family: 'num';
    src: url('../font/webfont.woff2') format('woff2'),
         url('../font/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;*/
    font-family: "GOTHIC_0";
  src: url("../newfont/GOTHIC_0.woff2") format("woff2"),
       url("../newfont/GOTHIC_0.woff") format("woff"),
       url("../newfont/GOTHIC_0.ttf") format("truetype"),
       url("../newfont/GOTHIC_0.eot") format("embedded-opentype"),
       url("../newfont/GOTHIC_0.svg") format("svg");


}

